.portfolio__listing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.portfolio__item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;

  @include gt-sm {
    width: 50%;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.portfolio__item-overlay {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 100;
  padding: 25px;

  p {
    color: white;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 0;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 12px 0;
  }

  &:hover {
    opacity: 1;
    background: rgba(#222, .8);
  }
}
