// single
.portfolio__single {
  .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-height: 100vh;
    max-width: 100%;
    background: darken($grey, 10%);

    img {
      max-height: 100%;
      max-height: 100vh !important;
    }
  }

  .item__coming-soon {
    height: 100vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
      justify-content: center;

    h2 {
      border: 5px solid #c6c6c6;
      padding: 50px 100px;
    }
  }
}

.__has-video {
  @include gt-custom(1200px) {
    .fluid-width-video-wrapper {
      background: #222;
      height: 100vh !important;
    }
  }
}
