// media queries
$mq-sm : 700px !default;
$mq-md : 1100px !default;

// spacing
$global_space_l: 60px;

// menu
$menu_revealer_width: 45px;
$menu_width_sm: (320px - $menu_revealer_width);
$menu_width_gt_sm: 275px;
$revealer_color: #222;

// transitions
$global_duration: 0.25s;

// colors
$grey: #b4b4b4;
