.menu__reveal {
  -webkit-transition: -webkit-transform $global_duration;
  transition: -webkit-transform $global_duration;
  transition: transform $global_duration;
  transition: transform $global_duration, -webkit-transform $global_duration;
  @extend %ir;
  position: fixed;
  top: 0;
  left: 0;
  width: $menu_revealer_width;
  height: $menu_revealer_width;
  background: $revealer_color url('../images/menu-trigger.png') no-repeat center center;
  background-size: 20px 15px;
  z-index: 200;
  cursor: pointer;

  .__show-menu & {
    -webkit-transform: translateX($menu_width_sm);
    -ms-transform: translateX($menu_width_sm);
    transform: translateX($menu_width_sm);
  }

  @include gt-sm {
    display: none;
  }
}

header {
  -webkit-transition: -webkit-transform $global_duration;
  transition: transform $global_duration;
  -webkit-transform: translateX(-$menu_width_sm);
  -ms-transform: translateX(-$menu_width_sm);
  transform: translateX(-$menu_width_sm);
  position: fixed;
  top: 0;
  left: 0;
  width: $menu_width_sm;
  background: white;
  height: 100vh;
  text-align: center;
  padding: 55px 15px 30px 15px;
  z-index: 300;

  .__show-menu & {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  @include gt-sm {
    width: $menu_width_gt_sm;
    padding: 75px 20px 50px 20px;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);

    .__show-menu & {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
  }
}
