section {
  @include gt-sm {
    -webkit-transition: $global_duration padding ease-out;
    transition: $global_duration padding ease-out;
    padding-left: $menu_width_gt_sm;

    .__show-menu & {
      padding: $menu_width_gt_sm;
    }
  }
}

.page section {
  padding: 40px;

  @include gt-sm {
    padding-left: $menu_width_gt_sm;
    max-width: 875px + $menu_width_gt_sm;
  }
}
