nav {
  ul {
    @extend %not-list;
  }

  a {
    color: #222;
  }
}

nav.menu__primary {
  a {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .current_page_item {
    text-decoration: underline;
  }
}

nav.menu__social {
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;

  li {
    display: inline;

    &:first-child {
      margin-left: -5px;
    }
  }

  a {
    font-size: 28px;
    margin-left: -5px;
  }
}
