@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('../fonts/social-icons/MonoSocialIconsFont-1.10.eot');
  src: url('../fonts/social-icons/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
       url('../fonts/social-icons/MonoSocialIconsFont-1.10.woff') format('woff'),
       url('../fonts/social-icons/MonoSocialIconsFont-1.10.ttf') format('truetype'),
       url('../fonts/social-icons/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  src: url('../fonts/social-icons/MonoSocialIconsFont-1.10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-decoration: none;
}

a.symbol:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300italic,400italic,300,700italic,700);
