img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.video-wrapper {
  margin: 40px auto;
}

.alignleft {
  float: left;
  padding: 0 40px 40px;
}

.alignright {
  float: right;
  padding: 0 0 40px 40px;
}
