body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #222;
}

h1 a {
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 1.3;
  letter-spacing: 1px;
  display: block;
  font-weight: 600;
  margin-bottom: 15px;
}

p {
  font-size: 17px;
  line-height: 2;
  color: #222;
  margin-bottom: 25px;
}

blockquote {
  position: relative;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.333;
  color: #555;
  padding: 25px 5px 25px 20px;
  quotes: "\201C""\201D""\2018""\2019";
  margin-bottom: 25px;

  @include gt-sm {
    padding-left: 65px;
    padding-right: 65px;
  }

  &:before {
    position: absolute;
    top: 10px;
    left: -30px;
    content: open-quote;
    font-size: 80px;
    color: #555;

    @include gt-sm {
      top: 0;
      left: 0;
      font-size: 100px;
    }
  }

  p {
    display: inline;
    color: #555;

    &:last-child {
      margin-bottom: 0;
    }
  }

  cite {
    font-size: 16px;
    display: block;
    padding-top: 25px;

    @include gt-sm {
      text-align: right;
    }
  }
}

.small-text {
  font-size: 14px;
  line-height: 1;
  color: #555;
  text-transform: uppercase;

}

.video .small-text {
  margin-top: -20px;
  margin-bottom: 25px;
}
